<div class="table-responsive small">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Payment Type</th>
        <th scope="col">Invoices</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= link_to customer.name, customer %></td>
          <td><%= customer.payment_type %></td>
          <td><%= customer.invoices.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
